# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
web-features/.angular
web-features/node_modules
db.sqlite3
.idea
web-features/.vscode
web-features/.editorconfig
venv
agent_api/migrations
booking_api/migrations
travel_api/migrations
user_api/migrations