    <style>
      .container_outer {
        width: 1400px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap : 30px;
      }
      .container_inner {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
    </style>
    <div class="container_outer" >

      <img priority width = "433" height = "300" ngSrc="../../../assets/images/{{_package.image_path}}">

      <div class="container_inner">

        <div style="display: flex;gap: 100px">
        <div class="text">
            <h2>{{name}}</h2>
        </div>
           <button (click)="modifyPackage()" mat-raised-button color="accent">
          <span>Modify package</span>
          </button>

           <button (click)="deletePackage()" mat-raised-button color="warn">
          <span>Delete package</span>
          </button>


        </div>


        <div class="text">
            <h4>{{_package.country}} - {{hotel.address}}</h4>
        </div>

        <div class="text">
          <h4>Hotel : {{hotel.name}} <u>({{hotel.room_type}})</u> - <strong>{{hotel.price}}$</strong>/night</h4>
        </div>

        <div class="text">
            <h4><i>{{hotel.description}}</i></h4>
        </div>


        <mat-chip-listbox aria-label="Fish selection">
          <li style="list-style: none;" *ngFor="let amenity of amenitiesList">
            <mat-chip-option>{{amenity}}</mat-chip-option>
          </li>
        </mat-chip-listbox>

        <br>

        <div style="display: flex;flex-direction: row; padding: 0 5px 0; justify-content: space-between">

        </div>

        <div style="display: flex;flex-direction: row; padding: 0 5px 0; gap: 30px;">
            <h3>Rating : </h3>
            <div [ngStyle]="getColor()">
            <h3>{{_package.rating}} / 10 - {{getRatingScore().rating_text}} </h3>
          </div>

        </div>

        <div style="display: flex;flex-direction: row; padding: 0; gap : 20px ; justify-content: flex-start">
              <div class = "text">
                <h3>Flight tickets - CA <strong>${{flight.price}}</strong> (per traveller)</h3>
              </div>

          <div class = "text">
                <h3>Base package cost - CA <strong>${{_package.price}}</strong></h3>
              </div>

          <div class = "text">
            <h3>Total cost for {{ellapsed_days}} days - CA <strong>${{total_cost}}</strong></h3>
              </div>

        </div>
        @if (booking == null){
          <button (click)="bookPackage()" mat-raised-button color="primary">
          <span>Book with {{flight.name}}</span>
          </button>
        } @else {
          <div style="display: flex; justify-content: space-between; margin-left: 40px">
          <button (click)="modifyBooking()" mat-raised-button color="accent">
          <span>Modify booking</span>
          </button>
          <button (click)="cancelBooking()" mat-raised-button color="warn">
          <span>Cancel booking</span>
          </button>
          </div>
        }
        <div class="text" style="padding-left: 40px"> <h4>{{flight.arrival_time.substring(0,10).
          replace("-","/")}} - {{flight.departure_time.substring(0,10).
          replace("-","/")}} </h4>
        </div>


    </div>
    </div>
