<app-top-bar></app-top-bar>

<form [formGroup]="packageNameForm">
<mat-form-field style="width:400px;margin-left: 750px" >
  <mat-label>Enter package name (press enter to create it)</mat-label>
  <input matInput formControlName="packageName" (keyup.enter)="createPackage()">
</mat-form-field>
</form>

<div style="display: flex;flex-direction: row; padding: 0 5px 0; justify-content: center; gap: 50px;">

<br>


  <ng-container *ngIf="addPackageOptionsVisible">
   <div style="display: flex;flex-direction: column; gap : 30px ;padding: 0 0 0; justify-content: flex-start">
      <button (click)="addHotel()" mat-raised-button color="accent">Add hotel</button>
      <app-hotel *ngIf="hotelVisible" #hotel [packageName]="this.getPackageName()">

      </app-hotel>
   </div>
    </ng-container>

  <ng-container *ngIf="addPackageOptionsVisible">
  <div style="display: flex;flex-direction: column; gap : 30px ;padding: 0 0 0; justify-content: flex-start">
      <button (click)="addFlight()" mat-raised-button color="accent">Add flight</button>
      <app-flight *ngIf="flightVisible" #flight [packageName]="this.getPackageName()">

      </app-flight>
    </div>
  </ng-container>


  <ng-container *ngIf="addPackageOptionsVisible">
  <div style="display: flex;flex-direction: column; gap : 30px ;padding: 0 0 0; justify-content: flex-start">
      <button (click)="addDetails()" mat-raised-button color="accent">Add Package Details</button>
        <app-package-details *ngIf="packageDetailsVisible" [packageName]="this.getPackageName()">

        </app-package-details>
    </div>
  </ng-container>

  </div>


